.ArrowOne {
  width: 183px;
  height: 86px; 
  background-image: url('../../../assets/arrows/arrow-1.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 93.5%;
}